@charset "utf-8";
@import 'css/bootstrap.min.css';

body {
	font: 100% Helvetica, Arial, sans-serif;
	/*background: #666666; */
	margin: 0;
	padding: 0;
	text-align: center;
	color: #000000;
}




.VisualizationMainPage #mainContent {
	/*padding: 0 20px; /* remember that padding is the space inside the div box and margin is the space outside the div box */
	background: #FFFFFF;
}



.VisualizationMainPage #container {


	background: #FFFFFF;
	/*margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
	text-align: left; /* this overrides the text-align: center on the body element. */
}


.VisualizationMainPage #algoControlSection
{
	background: #DDEEDD; 
	color:#000000;
}
.input-group-text{
	width: 150px;
}
.VisualizationMainPage #AlgorithmSpecificControls
{
	margin:auto;
}


.VisualizationMainPage #generalAnimationControlSection
{
	background: #DDEEDD; 
	color:#006600; 

}

.VisualizationMainPage  #header { 
	background: linear-gradient(to right, red, #1774EB); 
	color:#FFFFFF;
	padding: 0 10px 0 20px;
  
}	   
	   
.VisualizationMainPage #header h1 {
	margin: 0;
	text-align: center;
	padding: 10px 0; 
}

.VisualizationMainPage #container {
	background: #FFFFFF;
	margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
	text-align: left; /* this overrides the text-align: center on the body element. */
}	

.VisualizationMainPage #footer label{
	margin-top: 10px;
	margin-left: 45%;
	text-align: center;

}

.VisualizationMainPage #mainContent h1{
	padding: 0 20px; 
	background: #FFFFFF;
	color:#006633
}

.VisualizationMainPage #mainContent h2{
	padding: 0 20px; 
	background: #FFFFFF;
	color:#006633
}

.VisualizationMainPage #mainContent h3{
	padding: 0 20px; 
	background: #FFFFFF;
	color:#006633
}

.VisualizationMainPage #footer { 
	padding: 0 10px;
    background: linear-gradient(to right, #DC2424FF, #1774EB);
	color:#FFFFFF;
	position: fixed;
	bottom: 0;
	width:100%;
}

.VisualizationMainPage #footer p {
	margin: 0; 	padding: 10px 0;
}

EM {text-decoration: bold;}


#generalAnimationControlSection {
	visibility: hidden;
	height: 0;
}
